body {
    margin: 0;
    background-color: #111;
}

.isHidden {
    display: none;
}

.container {
    background-color: #222;
    padding: 1rem;
    margin: 1rem 0 0 1rem;
    border-radius: 0.25rem;
    float: left;
    transition: 0.45s;
}

.draggable {
    cursor: move;
}

.dragging {
    opacity: 0.5;
}

.card {
    width: 200px;
    border-radius: 0.25rem;
    background-color: #333;
    color:rgb(163, 162, 162);
    padding: 1rem;
    margin-bottom: 0.25rem;
    border: 1px solid black;
    transition: 0.45s;
}

.card:hover {
    scale: 1.15;
    border: 1px solid #555;
}